body {
	font-size: 24px;
	font: Arial, Helvetica, sans-serif;
	line-height: 32px;
	color: #777777;
	background-image: url("../images/scribble_light.png");
	}


  
.container {
    height: auto;
    }



[class*="col-"] {
    float: left;
    padding: 15px;
	}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

a {
    text-decoration: none;
    color: #777777;
	}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	height:70px;
	background: #ffffff;
	border-bottom: 1px solid #cccccc;
	z-index: 3
	}

h1 {
	position: fixed;
	background: #4aaaa5;
	width: 325px;
	height: 50px;
	padding: 10px;
	left: 50px;
	font-family: Georgia, Times, serif;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	}

h2 {
	font-family: Georgia, Times, serif;
	color: #4aaaa5;
	}

nav {
	position: fixed;
	top: 0;
	right: 0;	
	width: 300px;
	height: 30px;
	padding: 20px;
	font-size: 18px;
	}

span.navigationSpace {
    padding-left: 50px;
	}




.about {
	position: absolute;
	top: 100px;
	left: 50px;
	padding: 20px;
	max-width: 50%;
	border-width: 5px;
	border-color: #CDCDCD;
	background: #ffffff;
	text-align: left;
	}

.about img{
	width:25%;
	height:auto;
	float:left;
	padding-right:20px;
	margin-right: 10px;
}

.left {
   float: left;
   padding: 0 20px 20px 0;
	}

p {
	font-size: 18px;
	line-height: 28px;
	}

.portfolio {
	position: absolute;
	top: 100px;
	left: 50px;
	margin-right: 300px;
	padding: 20px;
	width: 650px;
	height: 775px;
	border-width: 5px;
	border-color: #CDCDCD;
	background: #ffffff;
	}

.pictureblock {
	float: left;
	margin: 10px 10px 10px 10px;
	left: 15px;
	height: 200px;
	width: 300px;
	}

figcaption {
	position: relative;
	bottom: 50px;
	font-size: 20px;
	width: 300px;
	background-color: #4aaaa5;
	text-align: center;
	color: white;
	font-style: bold;
	}

form {
	position: absolute;
	top: 100px;
	left: 50px;
	padding: 20px;
	width: 650px;
	background: #ffffff;
	border-width: 5px;
	border-color: #CDCDCD;
	text-align: left;
	}

#YourName {
	width:250px;
	}

#emailaddress {
	width:250px;
	}

#message {
	width:550px;
	height:100px;
	padding: 0px 0px 10px 0px;
	}

button {
	  position: absolute;
	  box-sizing: border-box;
	  right: 20px;
	  bottom: 20px;
	  width: 100px;
	  height: 30px;
	  color: #4aaaa5;
	  font-family: Tahoma, sans-serif;
	  border-radius: 15px;
	  border: 5px gray;
		}

.connect {
	position: absolute;
	right: 25px;
	top: 100px;
	max-width: 25%;
	padding:15px;

	background: white;
	border-width: 5px;
	border-color: #CDCDCD;
	font-size: 24px;
	text-align: center;
	color: #4aaaa5;
	}

footer {
	position: fixed;
	bottom:0;
	width: 100%;
	height: 5%;
	padding: 10px;
	border-top: 5px solid #4aaaa5;
	background: #666666;
	text-align: center;
	color: #C6C4C4;
	vertical-align: center;
	font-size: 12px	;
	}

	


@media screen and (max-width: 980px) {

		.about img{
			width: 100%;
			height:auto;
			float:none;
			}			
		
		.connect {
			margin-left:5%;
		}	

		}

	@media screen and (max-width: 768px) {

		.about {
			width:100%;
		}

		.about img{
			width: 100%;
			height:auto;
			clear:both;
			float:left;
			}	

		.connect {
			position:relative;
			margin:none;

		}
		
	}

	@media screen and (max-width: 640px) {

		.header {
			position:fixed;
		}
		
	}
	